# Ignore all node_modules directories
node_modules

# Ignore build output directories
.next
out
build

# Ignore environment variable files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore Vercel directory
.vercel

# Ignore TypeScript build info files
*.tsbuildinfo
next-env.d.ts
